.showcase{
    background: url('../images/laptop-phone.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.bg-black{
    background-color: black;
}
.text-size{
    font-size: 4em;
}
.margin-top{
    margin-top: 300px;
}
.width-60{
    width: 60%;
}
.width-70{
    width: 70%;
}
@media screen and (max-width: 786px) {
    .text-size{
        font-size: 2em;
    }
    .margin-top{
        margin-top: 200px;
    }
    .width-60{
        width: 100%;
    }
    .width-70{
        width: 100%;
    }
}